/*================== HTML ==================*/
body {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Prata', serif;
    font-weight: 500;
    background-color: #ccd4da;
}

.copyright {
    margin: 0;
}

.row-top-bumper {
    height: 15vh;
}

.row-bottom-bumper {
    height: 10vh;
}

/*================== HOME ==================*/
    .home {
        display: flex;
        flex-direction: column;
    }

    /*========= ROWS =========*/
    .row-profile-fs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .row-profile-m {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-copyright {
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    /*========= CARDS =========*/
    .card-home {
        height: 55vh;
        margin: 2rem;
        padding: 2rem;
        background-color: #ebe9e8;
        color: black;
    }

    .card-home2 {
        margin: 1rem;
        padding: 3rem;
        background-color: #ebe9e8;
        color: black;
    }

    /*========= IMAGES =========*/
    .img-profile {
        margin: 1rem;
        border-radius: 25%;
        max-height: 675px;
        max-width: 505px;
    }

    .img-profile2 {
        margin: 1rem;
        border-radius: 25%;
        min-height: 274px;
        min-width: 230px;
    }

/*================== SKILLS ==================*/
    .skills {
        display: none;
        flex-direction: column;
    }

    /*========= CARDS =========*/
    .card-skills {
        padding: 2rem;
        background-color: #ebe9e8;
        color: black;
    } 
    

/*================== QUALIFICATIONS ==========*/
    .qualifications {
        display: none;
        flex-direction: column;
    }

/*========= STYLING CONTENT FOR MOBILE ========*/
    @media (max-width: 991px) {
        /*========= HEADER ========*/
        .nav-header {
            height: auto;
        }

        /*========= FOOTER ========*/
        .nav-footer {
            height: auto;
        }

        /*================== HOME ==================*/
            /*========= ROWS =========*/
            .row-profile-fs {
                display: none;
            }

            .row-socials-fs {
                display: none;
            }

            .row-socials-m {
                display: flex;
                justify-content: center;
            }

            .row-top-bumper {
                height: 7.5vh;
            }

            /*========= ICONS =========*/
            .github-icon img {
                width: 3em;
            }
            
            .linkedin-icon img {
                width: 3em;
            }
            
            .instagram-icon img {
                width: 3em;
            }

        /*================== SKILLS ==================*/
            /*========= ROWS =========*/
            .row-skills-fs {
                display: none;
            }
            
            .row-skills-m {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            /*========= CARDS ========*/
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .fullstack {
                display: flex;
                justify-content: center;
            }

            .design {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .tech-list {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            /*========= ICONS ========*/
            .fs-icons {
                padding-top: 1em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .fs-icons img {
                width: 4em;
                margin: 1em;
            }

            .design-icons {
                padding-top: 1em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .design-icons img {
                width: 4em;
                margin: 1em;
            }

        /*================== QUALIFICATIONS ==========*/
            .row-quals-fs {
                display: none;
            }
    }

/*========= STYLING CONTENT FOR FULLSCREEN ===========*/
    @media (min-width: 992px) {
        /*========= HEADER =======*/
        .nav-header {
            height: 8vh;
        }

        /*========= FOOTER =======*/
        .nav-footer {
            height: 8vh;
        }

        /*================== HOME ====================*/
            /*========= ROWS =========*/
            .row-profile-m {
                display: none;
            }
            
            .row-socials-m {
                display: none;
            }

            .row-socials-fs {
                justify-content: flex-end;
            }

            /*========= CARDS ========*/
            .title {
                display: flex;
                align-items: center;
            }

            /*========= ICONS ========*/
            .github-icon img {
                width: 4em;
            }
            
            .linkedin-icon img {
                width: 4em;
            }
            
            .instagram-icon img {
                width: 4em;
            }

            
        /*================== SKILLS ===================*/
            /*========= ROWS =========*/
            .row-skills-m {
                display: none;
            }

            .row-skills-fs {
                justify-content: center;
            }

            /*========= CARDS ========*/
            .title-skills {
                display: flex;
                justify-content: center;
            }

            .fullstack {
                display: flex;
                justify-content: center;
            }

            .design {
                display: flex;
                justify-content: center;
            }

            .tech-list {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            /*========= ICONS ========*/
            .fs-icons {
                padding-top: 1em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .fs-icons img {
                width: 5em;
                margin: 1.5em;
            }

            .design-icons {
                padding-top: 1em;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            .design-icons img {
                width: 5em;
                margin: 1.5em;
            }

        /*================== QUALIFICATIONS ===========*/
            /*========= ROWS =========*/
            .row-quals-m {
                display: none;
            }
    }