/*================== HTML ==================*/
body {
    font-family: 'Bacasime Antique', serif;
    font-family: 'Prata', serif;
    font-weight: 500;
    background-color: #dad8cc;
}

/*================== HEADER ================*/
.nav-header {
    height: 8vh;
}

/*================== HOME ==================*/
/*========= ROWS =========*/
.row-profile-fs {
    /* padding: 1rem; */
    align-items: center;
}

.row-top-bumper {
    height: 10vh;
}

.row-bottom-bumper {
    height: 10vh;
}

/*========= CARDS =========*/
.card-title {
    height: 10vh;
}

.card-home {
    height: 50vh;
    margin: 2rem;
    padding: 2rem;
    background-color: #ebe9e8;
    color: #024035;
}

/*========= IMAGE =========*/
.img-profile {
    margin: 1rem;
    border-radius: 25%;
}

.img-profile2 {
    margin: 1rem;
    border-radius: 50%;
    outline: .5rem solid white;
    box-shadow: 0 0 .7rem 0 black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*========= ICONS =========*/
.github-icon img {
    width: 4em;
    color: #024035;
}

.linkedin-icon img {
    width: 4em;
}

.instagram-icon img {
    width: 4em;
}

/*========= STYLING CONTENT FOR MOBILE ========*/
@media (max-width: 500px) {
    .row-profile-fs {
        display: none;
    }

    .row-socials-fs {
        display: none;
    }

    .row-top-bumper {
        height: 7.5vh;
    }

    .card-home {
        width: 95vw;
        margin: 0;
    }
}

/*========= STYLING CONTENT FOR FULLSCREEN ====*/
@media (min-width: 500px) {
    .row-profile-m {
        display: none;
    }
    
    .row-socials-m {
        display: none;
    }

    .row-socials-fs {
        justify-content: flex-end;
    }
}

/*================== FOOTER ==================*/
.nav-footer {
    height: 8vh;
    width: 100vw;
}